*{box-sizing:border-box}
body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial,sans-serif;
}

#splash{
  position:fixed; inset:0;
  background:#020617;
  display:flex; align-items:center; justify-content:center;
  z-index:9999; transition:.4s;
}

#controls{
  padding:10px; display:flex; gap:6px; flex-wrap:wrap;
}
#controls input,#controls button{
  padding:10px; border-radius:8px;
  border:1px solid #1f2937; background:#020617; color:#fff;
}
#controls button{background:#22c55e;border:none;font-weight:bold}

#layout{
  display:grid; grid-template-columns:180px 1fr; height:calc(100vh - 120px);
}

/* GRUPOS */
#groups{
  background:#0b0b0b; overflow:auto;
}
.group{
  padding:12px; cursor:pointer; border-bottom:1px solid #111;
}
.group.active{background:#22c55e;color:#000;font-weight:bold}

/* CANALES */
#channels{
  padding:10px; overflow:auto;
  display:grid; grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
  gap:10px;
}
.channel{
  background:#111; padding:12px; border-radius:10px;
  cursor:pointer; text-align:center;
}

/* PLAYER */
#playerBox{
  position:fixed; inset:0; background:#000; display:none; z-index:9998;
}
#player{width:100%;height:100%}
#playerBox button{
  position:absolute; top:12px; right:12px;
  background:#ef4444; border:none; color:#fff;
  padding:10px; border-radius:10px;
}

/* MOBILE */
@media(max-width:700px){
  #layout{grid-template-columns:1fr}
  #groups{display:flex; overflow:auto}
  .group{white-space:nowrap}
}
