*{
  box-sizing:border-box;
  font-family:system-ui;
}

body{
  margin:0;
  background:#0b0b12;
  color:white;
}

header{
  padding:15px;
  text-align:center;
  background:#141425;
}

main{
  padding:10px;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
  gap:10px;
}

.card{
  background:#1b1b30;
  border-radius:12px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.card h3{
  font-size:14px;
  padding:5px;
}

.card button{
  width:100%;
  padding:8px;
  border:none;
  background:#7b5cff;
  color:white;
  font-size:14px;
}

nav{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  display:flex;
  background:#141425;
}

nav button{
  flex:1;
  padding:12px;
  background:none;
  color:white;
  border:none;
  font-size:14px;
}
