*{
  box-sizing:border-box;
}

body{
  margin:0;
  background:#000;
  color:#e5e7eb;
  font-family:Arial, sans-serif;
}

/* SPLASH */
#splash{
  position:fixed;
  inset:0;
  background:#020617;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
  transition:opacity .6s;
}

.splash-box{text-align:center}
.splash-box img{width:160px}
.splash-box span{color:#9ca3af}

/* CONTROLES */
#controls{
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:8px;
}

#controls input,
#controls button{
  padding:10px;
  border-radius:8px;
  border:1px solid #1f2937;
  background:#020617;
  color:#fff;
}

#controls button{
  background:#22c55e;
  border:none;
  font-weight:bold;
}

/* GRID */
#grid{
  padding:10px;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
  gap:10px;
}

/* CARD */
.card{
  background:#0b0b0b;
  border-radius:14px;
  overflow:hidden;
  cursor:pointer;
  transition:transform .2s;
}

.card:hover{
  transform:scale(1.05);
}

.card img{
  width:100%;
  height:110px;
  object-fit:cover;
}

.card span{
  display:block;
  padding:8px;
  font-size:13px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/* PLAYER */
#playerBox{
  position:fixed;
  inset:0;
  background:#000;
  display:none;
  z-index:9998;
}

#player{
  width:100%;
  height:100%;
}

#playerBox button{
  position:absolute;
  top:12px;
  right:12px;
  background:#ef4444;
  border:none;
  color:#fff;
  padding:10px;
  border-radius:10px;
}

/* MOBILE */
@media(max-width:600px){
  #grid{
    grid-template-columns:repeat(2,1fr);
  }
  .card img{
    height:90px;
  }
}
