*{
  margin:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0a0a12;
  color:white;
}

/* TOP BAR */
.topbar{
  display:flex;
  align-items:center;
  gap:10px;
  padding:12px;
  background:#111827;
}
.topbar h1{
  flex:1;
  font-size:18px;
}
.topbar button{
  background:#1f2937;
  border:none;
  color:white;
  padding:8px 12px;
  border-radius:6px;
}

/* GRID TV */
main{
  padding:14px;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
  gap:18px;
}

/* CARD */
.tv-card{
  background:#111827;
  border-radius:16px;
  overflow:hidden;
  cursor:pointer;
  transition:transform .2s, outline .2s;
}
.tv-card:focus{
  outline:3px solid #22c55e;
  transform:scale(1.05);
}
.tv-card img{
  width:100%;
  height:150px;
  object-fit:cover;
}
.tv-title{
  padding:8px;
  font-weight:bold;
  text-align:center;
}
.epg-now{
  padding:0 10px;
  font-size:12px;
  color:#22c55e;
}
.epg-next{
  padding:0 10px 10px;
  font-size:11px;
  color:#9ca3af;
}
/* SPLASH ANDROID TV */
#splash{
  position:fixed;
  inset:0;
  background:#000814;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
  transition:opacity .6s;
}

.splash-box{
  text-align:center;
}

.splash-box img{
  width:220px;
  max-width:70%;
  animation:zoom 1.5s infinite ease-in-out;
}

.splash-box span{
  display:block;
  margin-top:16px;
  font-size:14px;
  color:#9ca3af;
  letter-spacing:1px;
}

@keyframes zoom{
  0%{transform:scale(1)}
  50%{transform:scale(1.08)}
  100%{transform:scale(1)}
}
/* SPLASH */
#splash{
  position:fixed;
  inset:0;
  background:#000814;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
  transition:opacity .6s;
}

.splash-box{
  text-align:center;
}

.splash-box img{
  width:220px;
  max-width:70%;
  animation:zoom 1.5s infinite ease-in-out;
}

.splash-box span{
  display:block;
  margin-top:16px;
  font-size:14px;
  color:#9ca3af;
  letter-spacing:1px;
}

@keyframes zoom{
  0%{transform:scale(1)}
  50%{transform:scale(1.08)}
  100%{transform:scale(1)}
}
